<div class="blx-alert-dialog-controlled">
    <button type="button" class="blx-alert-dialog-trigger" @onclick="@(() => open = true)">Delete account</button>
    <span class="blx-alert-dialog-status">@(open ? "Open" : "Closed")</span>
</div>

<AlertDialogRoot Open="open" OpenChanged="@(value => open = value)">
    <AlertDialogPortal>
        <AlertDialogBackdrop class="blx-alert-dialog-backdrop" />
        <AlertDialogPopup class="blx-alert-dialog-popup">
            <div class="blx-alert-dialog-header">
                <AlertDialogTitle class="blx-alert-dialog-title">Delete your account?</AlertDialogTitle>
                <AlertDialogDescription class="blx-alert-dialog-description">
                    You can't undo this action. All of your data will be permanently removed.
                </AlertDialogDescription>
            </div>
            <div class="blx-alert-dialog-actions">
                <AlertDialogClose class="blx-alert-dialog-button">Cancel</AlertDialogClose>
                <AlertDialogClose class="blx-alert-dialog-button blx-alert-dialog-button-danger">Delete account</AlertDialogClose>
            </div>
        </AlertDialogPopup>
    </AlertDialogPortal>
</AlertDialogRoot>

@code {
    private bool open;
}
