<DialogRoot>
    <DialogTrigger class="blx-dialog-trigger">View notifications</DialogTrigger>
    <DialogPortal>
        <DialogBackdrop class="blx-dialog-backdrop" />
        <DialogPopup class="blx-dialog-popup">
            <div class="blx-dialog-header">
                <DialogTitle class="blx-dialog-title">Notifications</DialogTitle>
                <DialogDescription class="blx-dialog-description">
                    You are all caught up. Good job!
                </DialogDescription>
            </div>
            <div class="blx-dialog-actions">
                <DialogClose class="blx-dialog-button">Close</DialogClose>
            </div>
        </DialogPopup>
    </DialogPortal>
</DialogRoot>
