<AutocompleteRoot TValue="AutocompleteDemoTag"
                  Items="@AutocompleteDemoData.Tags"
                  AutoHighlight="AutocompleteAutoHighlight.True"
                  ItemToStringValue="AutocompleteDemoData.GetTagValue">
    <label class="blx-autocomplete-label">
        Auto highlight on type
        <AutocompleteInput class="blx-autocomplete-input" placeholder="e.g. feature" />
    </label>

    <AutocompletePortal>
        <AutocompletePositioner class="blx-autocomplete-positioner" SideOffset="4">
            <AutocompletePopup class="blx-autocomplete-popup">
                <AutocompleteEmpty>
                    <div class="blx-autocomplete-empty">No tags found.</div>
                </AutocompleteEmpty>
                <AutocompleteList class="blx-autocomplete-list">
                    <AutocompleteCollection TValue="AutocompleteDemoTag" Context="entry">
                        <AutocompleteItem TValue="AutocompleteDemoTag" class="blx-autocomplete-item" Value="@entry.Item" Index="@entry.Index">
                            @entry.Item.Value
                        </AutocompleteItem>
                    </AutocompleteCollection>
                </AutocompleteList>
            </AutocompletePopup>
        </AutocompletePositioner>
    </AutocompletePortal>
</AutocompleteRoot>
