.blx-toggle-group-panel {
  display: flex;
  gap: 1px;
  padding: 1px;
  border: 1px solid #171717;
}

.dark .blx-toggle-group-panel {
  border-color: white;
}

.blx-toggle-group-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  background: transparent;
  color: #171717;
  user-select: none;
}

.dark .blx-toggle-group-button {
  color: white;
}

.blx-toggle-group-button:hover:not([data-disabled]) {
  background: #f5f5f5;
}

.dark .blx-toggle-group-button:hover:not([data-disabled]) {
  background: #262626;
}

.blx-toggle-group-button:active:not([data-disabled], [data-pressed]) {
  background: #e5e5e5;
}

.dark .blx-toggle-group-button:active:not([data-disabled], [data-pressed]) {
  background: #404040;
}

.blx-toggle-group-button[data-pressed] {
  background: #171717;
  color: white;
}

.dark .blx-toggle-group-button[data-pressed] {
  background: white;
  color: #171717;
}

.blx-toggle-group-button:focus-visible {
  outline: 2px solid #171717;
  outline-offset: 1px;
}

.dark .blx-toggle-group-button:focus-visible {
  outline-color: white;
}
