<CollapsibleRoot class="blx-collapsible">
    <CollapsibleTrigger class="blx-collapsible-trigger">
        Recovery keys
        <svg class="blx-collapsible-icon" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
            <path d="M6 12V4L10.5 8L6 12Z" />
        </svg>
    </CollapsibleTrigger>
    <CollapsiblePanel class="blx-collapsible-panel">
        <div class="blx-collapsible-content">
            <div>alien-bean-pasta</div>
            <div>wild-irish-burrito</div>
            <div>horse-battery-staple</div>
        </div>
    </CollapsiblePanel>
</CollapsibleRoot>
