<CheckboxGroup aria-labelledby="apples-label"
               DefaultValue="@(["fuji-apple"])"
               class="blx-checkbox-group">
    <div class="blx-checkbox-group-caption" id="apples-label">Apples</div>

    <label class="blx-checkbox-group-item">
        <CheckboxRoot Name="apple" Value="fuji-apple" class="blx-checkbox-group-checkbox">
            <CheckboxIndicator class="blx-checkbox-group-indicator">
                <svg class="blx-checkbox-group-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" aria-hidden="true">
                    <path d="M2.5 8.5 6.5 12.5 13.5 3.5" />
                </svg>
            </CheckboxIndicator>
        </CheckboxRoot>
        Fuji
    </label>

    <label class="blx-checkbox-group-item">
        <CheckboxRoot Name="apple" Value="gala-apple" class="blx-checkbox-group-checkbox">
            <CheckboxIndicator class="blx-checkbox-group-indicator">
                <svg class="blx-checkbox-group-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" aria-hidden="true">
                    <path d="M2.5 8.5 6.5 12.5 13.5 3.5" />
                </svg>
            </CheckboxIndicator>
        </CheckboxRoot>
        Gala
    </label>

    <label class="blx-checkbox-group-item">
        <CheckboxRoot Name="apple" Value="granny-smith-apple" class="blx-checkbox-group-checkbox">
            <CheckboxIndicator class="blx-checkbox-group-indicator">
                <svg class="blx-checkbox-group-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" aria-hidden="true">
                    <path d="M2.5 8.5 6.5 12.5 13.5 3.5" />
                </svg>
            </CheckboxIndicator>
        </CheckboxRoot>
        Granny Smith
    </label>
</CheckboxGroup>
