<div class="blx-avatar-row">
    <AvatarRoot class="blx-avatar">
        <AvatarImage class="blx-avatar-image"
                     src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=128&h=128&dpr=2&q=80"
                     width="48"
                     height="48"
                     alt="Olivia Tran" />
        <AvatarFallback class="blx-avatar-fallback" Delay="600">OT</AvatarFallback>
    </AvatarRoot>
    <AvatarRoot class="blx-avatar">
        <AvatarImage class="blx-avatar-image"
                     src="https://example.com/broken-avatar.jpg"
                     width="48"
                     height="48"
                     alt="Marcus Lee" />
        <AvatarFallback class="blx-avatar-fallback">ML</AvatarFallback>
    </AvatarRoot>
</div>
