<div class="blx-separator-nav">
    <a href="#" class="blx-separator-link">Home</a>
    <a href="#" class="blx-separator-link">Pricing</a>
    <a href="#" class="blx-separator-link">Blog</a>
    <a href="#" class="blx-separator-link">Support</a>

    <Separator Orientation="Orientation.Vertical" class="blx-separator-divider" />

    <a href="#" class="blx-separator-link">Log in</a>
    <a href="#" class="blx-separator-link">Sign up</a>
</div>
